* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #0f0f10;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
    margin-top: 10%;
  background-color: #18181b;
  padding: 2rem 2.5rem;
  border-radius: 20px;
  width: 600px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.back {
  display: inline-block;
  color: #bbb;
  text-decoration: none;
  margin-bottom: 1rem;
}

.h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.label {
  display: block;
  font-size: 15px;
  margin-bottom: 6.4px;
  color: #bbb;
}

input, select {
  width: 100%;
  padding: 11px;
  border-radius: 6px;
  border: none;
  background-color: #2a2a2c;
  color: white;
  margin-bottom: 16px;
}

.name-fields {
  display: flex;
  gap: 50px;
}
.password-field {
  position: relative;
}

.password-field .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  cursor: pointer;
}

.checkbox {
  display: flex;
  align-items: flex-start;
  padding-right:250px;
  margin-top: 8px;
  margin-bottom: 24px;
  font-size: 10px;
  color: #ccc;
}

.button {
  width: 100%;
  background-color: #4a9fff;
  color: white;
  font-weight: 600;
  border: none;
  padding: 12px;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 15px;
}

.button:hover {
  background-color: #3185f8;
}
.bo{
    display: flex;
    justify-content: center;
    display: grid;
    grid-row: 10px 10px;
    grid-column: 10px;
    row-gap: 10px;

}