 * {
    margin: 0%;
    color: white;
    background-color: #101014;
 }

 .navbar {
    background-color: #121216;
    padding: 13px;
    /* width:100vh; */
    /* positions */
    /* position: static;
    position: fixed; */
    position: sticky;
      font-size:16px ;
font-family: sans-serif;

 }

 .navbar a {
    vertical-align: middle;
    color: white;
    text-decoration: none;
    margin-left: 1%;
    margin-right: 1%;
 }
 
 .d {
    border: 2px solid #101014;
    border-radius: 50px;
    color: white;
    margin: 0px 0px 15px 850px;
    background-color:#101014;
 }

 .d:hover {
    color: white;
    background-color: #101014;
 }

 .btn {
    text-size-adjust: inherit;
 }

 .fa-light {
    color: white;
 }

 .s {
    font-family: sans-serif;
 }

 .s:hover {
    color: white;
    background-color: black;
    animation-play-state: running blue;
 }

 .be button {
    color: white;
    border-color: white;
    border: 3px;
    border-radius: 30%;
    text-decoration:none;
    cursor: pointer;   
   
 }
  .be {
    background-color: #101014;
    padding: 20px;
    margin-top: -8px;
    position: static;
  }
#lk{
   display: inline;
   color: white;
}
.fg{
   color: rgba(148, 144, 144, 0.859);
   margin-top: 15px;
   margin-right: 13.62px;
   background-color: rgb(35, 33, 33);
   border: 2px solid rgb(35, 33, 33);
   border-radius: 20px;
   padding-bottom: 10px;
   padding-top: 10px;
   padding-left: 20px;
   padding-right: 40px;
   margin-left: 180px;
}
.sign{
   color: #FFFFFF;
   border: 0px solid #FFFFFF26 ;
   border-radius: 8px;
   background-color:#FFFFFF26 ;
   padding: 4px 12px;
   cursor: pointer;
   font-size: 16px ;
   font-family: sans-serif;
}
.si{
   padding: 4px 12px;
   border: 0px solid #26bbff;
   border-radius: 8px;
   margin: 0px 10px 0px 1px;
   color: black;
   font-size: 15px;
   background-color: #26bbff;
}
.evil{
   border-radius: 15px;
   width: 60%;
   height: 30%;
   margin-left: 12.2%;
}
.evil:hover{
   cursor: pointer;
}
   .side{
      margin-left: 100px;
   } 
   .sidebar {
   margin-top:-33% ;
   display: grid;
   margin-left: 3%;
   row-gap: 20px;
   margin-bottom:10%;
}
.game-item {
   position: relative;
   font-size: smaller;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;
    padding: 20px 20px 20px 20px;

    margin-left: 72%;
    margin-block-end: 10px;
    margin-inline-end: 250px;
    border-radius: 10px;
}
.game-item:hover{
   cursor: pointer;
   background-color: #28282c;

}
.dis{
   margin-left: 18%;
   padding-bottom: 20px;
   text-decoration: none;
}

.sl{

   display: grid;
      grid-template-rows: 40px 40px 40px 40px 40px 40px;
      grid-template-columns: 40px;
}
.p{
   display: flex;
   justify-content: space-between;
    display:grid;
    grid-template-rows: 100px ;
    grid-template-columns: 80px 80px 80px 80px;
    column-gap: 20%;
    margin-left: 20%;
    margin-right: 40%;

}
.ch:hover{
    cursor: pointer;

}
.ch:active{
    transform:scale(1.2) ;

}
